{% extends 'base.html' %}
{% block content %}

<div class="homepage-book-image">
    <!--Displaying information about the Forum page-->
    <div class="text-center text-white my-4">
        <h1 class="display-5">Books For Sale</h1>
        <p class="lead">See a variety of books for sale.</p>
        <h5 class="mt-4">Shop Now!</h5>
        <a class="btn btn-outline-light btn-lg" href="{% url 'books' %}" role="button">View All Books</a>
        <hr class="hr-line-checkout">
        {% if user.is_authenticated %}
            <p class="lead">
                <strong>You are now signed in and able to view the <em>Forum</em> page.</strong>
            </p>
        {% else %}
            <p class="lead"><strong>To view the Forum page, you will need to create an account or sign in.</strong></p>
            <a class="btn btn-outline-light btn-lg" href="{% url 'register' %}" role="button">Register</a>
            <a class="btn btn-outline-light btn-lg" href="{% url 'login' %}" role="button">Sign In</a>
        {% endif %}
    </div>
</div>

{% endblock %}
