{% extends 'base.html' %}

{% block page_title %} Password Reset {% endblock %}

{% block page_heading %} Reset Password {% endblock %}

{% block content %}

<h2 class="text-center py-4">Password Reset</h2>
<p class="text-center">Please enter your email address (if you have an account) and forget your password.</p>
<form method="POST" class="text-center pt-3">
    {% csrf_token %}
    {{ form.email.errors }}
    
    <label for="id_email">Email Address:</label>
    {{ form.email }}
    <button class="btn btn-success" type="submit">Reset Password</button>
</form>

{% endblock %}
