{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

<div class="container">
    <h3 class="text-center mt-3">Forum</h3>
    <p class="text-center">Here you can discuss books!</p>
    <!--New post button for users to create a new post-->
    <div class="row text-center py-4">
        <div class="col-12">
            <a href="{% url 'new_post' %}" type="button" class="btn btn-outline-primary">New Post</a>
        </div>
    </div>
    <!--Forum posts presented-->
    {% for post in posts %}
        <div class="row my-3">
            <div class="col-8">
                <a href="{% url 'post_detail' post.id %}" class="pb-1">
                    <i class="fas fa-comments"></i>
                    {{ post.title }}
                </a>
                <br>
                <p>{{ post.content }}</p>
            </div>
            <div class="col-4">
                <p>
                    <strong>Views:</strong>
                    {{ post.number_of_views }}</p>
                <p>
                    <strong>Tag:</strong>
                    {{ post.tag }}
                </p>
                <p>
                    <small>Posted by {{ post.user }} on {{ post.date_published }}</small>
                </p>
            </div>
        </div>
        <hr>
    {% endfor %}
</div>

{% endblock %}
