{% extends 'base.html' %}

{% load static from staticfiles %}

{% block page_title %} Post Detail {% endblock %}

{% block content %}

<div class="container">
    <!--Post content-->
    <div class="row my-3 text-center">
        <div class="col-12">
            <h4 class="my-2">
                <strong>{{ post.title }}</strong>
            </h4>
            <p class="pt-2">{{ post.content }}</p>
            <p class="text-center">
                <small>Posted by {{ post.user }} on {{ post.date_published }}</small>
            </p>
        </div>
    </div>
    <br>
    <hr class="hr-line-lightgray">
    <!--Comments belonging to the post-->
    <p>
        <strong>Comments:</strong>
    </p>
    {% for comment in post.comments.all %}
        <div class="row py-3 mb-4" id="display-comments-style">
            <div class="col-12">
                <p class="break-word">{{ comment.content }}</p>
                <p>
                    <small>Posted by {{ comment.user }} on {{ comment.comment_created_date }}</small>
                </p>
            </div>
        </div>
    {% endfor %}
    <!--Comment section, submit comment button and link button back to all posts-->
    <div class="row my-3">
        <div class="col-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea rows="5" name="content" class="form-control comment-form box-shadow-comments" placeholder="Write a comment..." required></textarea>
                <div class="d-flex justify-content-center my-2">
                    <button type="submit" class="btn btn-success mr-2">Comment! <i class="far fa-comment"></i></button>
                    <a href="{% url 'all_posts' %}" class="btn btn-info ml-2">Back to Forum</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
