html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/*
    body background
*/
body {
    background-color: #dee2e6d1;
}

/*
    homepage-book-image
*/
.homepage-book-image {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: -webkit-fill-available;
    height: 100%;
}

/*
    Navbar link style
*/
.navbar-dark .nav-item > .nav-link.active  {
    color: #fff;
}

.color-white {
    color: #fff;
}

/*
    sign in link
*/
.login-link {
    text-decoration: none;
    color: black;
}

.login-link:hover {
    color: grey;
}

/*
    login and register form style
*/
.login-register-form-style {
    width: 100%; 
    max-width: 350px; 
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px #888888;
}

/*
    forum posts
*/
.box-shadow-comments {
    max-width: 400px; 
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px #888888;
}

/*
    border for forum posts
*/
.post-border {
    border: 1px solid rgb(170, 169, 169);
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px #424242;
    border-radius: 10px;
}

/*
    hr style checkout page
*/
.hr-line-lightgray {
    border: 1px solid lightgray;
    width: 70%;
}

/*
    hr style home page
*/
.hr-line-light {
    border: 0.5px solid rgb(216, 216, 216);
    width: 70%;
}

/*
    hr line comments
*/
#hr-line-comments {
    border: 0.5px solid rgb(150, 150, 150);
    width: 100%;
}

/*
    hr line filter div
*/
.hr-line-filter {
    border: 0.5px solid rgb(172, 169, 169);
    width: 30%;
}

/*
    comments section viewing break-word
*/
.break-word {
    overflow-wrap: break-word;
}

/*
    no items in cart display
*/
#no-cart-items {
    width: 40%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px #888888;
    align-self: center;
    border-radius: 10px;
}

/*
    checkout payment form
*/
.payment-form-style {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px #888888;
}

/*
    box shadow for checkout books
*/
.card-book-box-shadow {
    box-shadow: 0px 0px 10px 2px #888888;
}

/*
    search box on books page
*/
#search-box[type=text] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid rgb(105, 95, 95);
  border-radius: 6px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#search-box[type=text]:focus {
  width: 80%;
}

/*
    filter-div
*/
#filter-div {
    height: 70px;
}


.bookdetail-about-display {
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px #373c42d4;
}

/*
    user info
*/
.user-info-display {
    background-color: #fff;;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px #373c42d4;
    width: 40%;
    align-self: center;
}

/*
    center align books
*/
.center-align-book-sm {
    text-align: -webkit-center;
}

/*
    book name div heightness
*/
.book-name-height {
    height: 70px;
}

/*
    footer
*/
.footer {
    bottom: 0;
    width: 100%;
}

.icon-colour{
    color: white;
}

.icon-colour:hover{
    color: grey;
}
