{% extends 'base.html' %}

{% load static from staticfiles %}

{% block page_title %} Books {% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Books</h3>
    <!--Search Input-->
    <div class="row py-3 mt-2 text-center">
        <div class="col-12">
            <form action="{% url 'search' %}" method="GET">
                <input type="text" name="q" id="search-box" placeholder="Search for a book">
                <button type="submit" class="btn btn-dark btn-lg" id="search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="row text-center my-3">
        <div class="col-12">
            <div class="row">
                <!--Dropdown select Price options low-high or high-low-->
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 py-1">
                    <div class="dropdown">
                        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="priceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Price
                        </button>
                        <div class="dropdown-menu" aria-labelledby="priceDropdown">
                            <a href="{% url 'price_asc' %}" class="dropdown-item">Low-High</a>
                            <a href="{% url 'price_desc' %}" class="dropdown-item">High-Low</a>
                        </div>
                    </div>
                </div>
                <!--Dropdown select Genre-->
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 py-1">
                    <div class="dropdown btn-group">
                        <button class="btn btn-primary btn-lg dropdown-toggle btn-selected" type="button" id="genreDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Genre
                        </button>
                        <div class="dropdown-menu" aria-labelledby="genreDropdown">
                            <a href="{% url 'comics' %}" class="dropdown-item">Comics</a>
                            <a href="{% url 'food' %}" class="dropdown-item">Food</a>
                            <a href="{% url 'horror' %}" class="dropdown-item">Horror</a>
                            <a href="{% url 'mystery' %}" class="dropdown-item">Mystery</a>
                            <a href="{% url 'sport' %}" class="dropdown-item">Sport</a>
                        </div>
                    </div>
                </div>
                <!--Dropdown Pusblished Date Newest and Oldest options-->
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 py-1">
                    <div class="dropdown">
                        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="datePublishedDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Published Date
                        </button>
                        <div class="dropdown-menu" aria-labelledby="datePublishedDropdown">
                            <a href="{% url 'published_date_desc' %}" class="dropdown-item" id="newest-published">Newest</a>
                            <a href="{% url 'published_date_asc' %}" class="dropdown-item">Oldest</a>
                        </div>
                    </div>
                </div>
                <!--Reset filters-->
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 py-1">
                    <a href="{% url 'books' %}" class="btn btn-danger btn-lg" role="button">
                        Reset 
                        <i class="far fa-times-circle"></i>    
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-line-filter mt-4" id="filter-hr">
    <!--Shows what the user has selected from dropdown list-->
    <div class="text-center" id="filter-div">
        <h4>Filter:</h4>
        <h5 id="selectedOption"></h5>
    </div>
    {% if books %}
        <div class="row py-4 text-center">
            <!--Looping through all of the books-->
            {% for book in books %} 
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 my-4 center-align-book-sm">
                    <!--Display for books and their details-->
                    <div class="card login-register-form-style" style="width: 12.5rem;">
                        <a href="{% url 'book_info' book.id %}">
                            <img src="{{ MEDIA_URL }}{{ book.image }}" class="card-img-top book-image" alt="{{ book.name }}" width="200" height="250">
                        </a>
                        <div class="card-body">
                            <a href="{% url 'book_info' book.id %}">
                                <div class="book-name-height">
                                    <h6 class="card-title text-dark">{{ book.name }}</h6>
                                </div>
                            </a>
                            <h5 class="card-text">€{{ book.price }}</h5>
                            <!--Add to Cart submit button-->
                            <form action="{% url 'add_book_to_cart' book.id %}" method="POST" class="py-2">
                                <p class="mt-2 ">Quantity:</p>
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="number" name="quantity" min="1" max="999" placeholder="Quantity" class="form-control center-align-book-sm" value="1">
                                </div>
                                <div class="input-group-prepend justify-content-center mt-2">
                                    <button type="submit" class="btn btn-success">Add to Cart</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h6 class="text-center mt-5">Sorry there are no books relating to that search!</h6>
    {% endif %}
    <!--Pagination-->
    <div class="justify-content-center" id="pagination-content">
        <p class="text-center">
            {% if books.has_previous %}
                <a href="?page={{ books.previous_page_number }}">
                    <i class="fas fa-chevron-left pr-1"></i>
                </a>
            {% endif %}
            Page {{ books.number }} of {{ books.paginator.num_pages }}
            {% if books.has_next %}
                <a href="?page={{ books.next_page_number }}">
                    <i class="fas fa-chevron-right pl-1"></i>
                </a>
            {% endif %}
        </p>
    </div>
</div>

{% endblock %}
