{% extends 'base.html' %}

{% load static from staticfiles %}

{% block page_title %} Book Information {% endblock %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-12 center-align-book-sm">
            <div class="row bookdetail-about-display">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 text-center py-3">
                    <img id="selected-book-image" src="{{ MEDIA_URL }}{{ book.image }}" alt="{{ book.name }}" style="max-width: 80%;">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7" style="text-align: left;">
                    <h4 class="py-3 text-center">{{ book.name }}</h4>
                    <p>
                        <strong class="pr-1">Author:</strong> 
                        {{ book.author }}
                    </p>
                    <p>
                        <strong class="pr-1">Genre:</strong>
                        {{ book.genre }}
                    </p>
                    <p>
                        <strong class="pr-1">Published Date:</strong>
                        {{ book.published_date }}
                    </p>
                    <p>
                        <strong>Description:</strong>
                    </p>
                    <p>{{ book.description }}</p>
                    <h5 class="mb-4">
                        <strong class="pr-1">Price:</strong>
                        €{{ book.price }}
                    </h5>
                    <!--Add to Cart submit button-->
                    <form action="{% url 'add_book_to_cart' book.id %}" method="POST" class="py-2">
                        {% csrf_token %}
                        <p class="text-center">Quantity:</p>
                        <div class="input-group justify-content-center">
                            <input type="number" name="quantity" min="1" max="999" placeholder="Quantity" class="form-control center-align-book-sm" value="1" style="max-width: 40%;">
                        </div>
                        <div class="input-group-prepend justify-content-center mt-2">
                            <button type="submit" class="btn btn-success">Add to Cart</button>
                        </div>
                    </form>
                    <div class="text-center my-3">
                        <a href="{% url 'books' %}" type="button" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i>
                            Back to Books
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
