{% extends 'base.html' %}

{% load static from staticfiles %}

{% block page_title %} Book Information {% endblock %}

{% block content %}

<div class="container">
    <div class="row text-center my-5">
        <div class="col-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <img id="selected-book-image" src="{{ MEDIA_URL }}{{ book.image }}" alt="{{ book.name }}">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                    <h4 class="py-3">{{ book.name }}</h4>
                    <p>
                        <strong>Author:</strong> 
                        {{ book.author }}
                    </p>
                    <p>
                        <strong>Genre:</strong>
                        {{ book.genre }}
                    </p>
                    <p>
                        <strong>Published Date:</strong>
                        {{ book.published_date }}
                    </p>
                    <p>
                        <strong>Description:</strong>
                    </p>
                    <p>{{ book.description }}</p>
                    <h5>
                        <strong>Price:</strong>
                        €{{ book.price }}
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
