{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = "{{ publishable }}";
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}

<!--Page title for user navigation-->
<h2 class="text-center py-3">Checkout</h2>
<!--Section containing item(s) in the checkout-->
<div class="container">
    <div class="row row-flex d-flex justify-content-center py-3">
        {% for item in cart_items %}
        <div class="col-12">
            <div class="card border-dark mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ MEDIA_URL }}{{ item.book.image }}" class="card-img" alt="{{ item.book.name }}">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.book.name }}</h5>
                            <p class="card-text">{{ item.book.author }}</p>
                            <p class="card-text">{{ item.book.genre }}</p>
                            <h5 class="card-text">€{{ item.book.price }}</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-body">
                            Quantity:
                            <p class="card-text">{{ item.quantity }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!--Total price for all orders in the checkout-->
<h4 class="py-3 text-center">
    Total:
    <h5 class="text-center">€{{ total }}</h5>
</h4>
<!--Payment section for users to purchase their order-->
<form action="{% url 'checkout' %}" method="POST" role="form" id="customer-payment-form">
    <legend>Payment Details</legend>
    <!--Error messages will show-->
    <div id="card-errors">
        <div class="alert-success" id="stripe-error-message"></div>
    </div>
    <!--Pages medium size and above, divided into two section for payment form-->
    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        {{ order_form | as_bootstrap }}
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        {{ payment_form | as_bootstrap }}
    </div>
    {% csrf_token %}
    <div class="text-center py-4">
        <input class=" btn btn-success" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>

{% endblock %}
