{% extends 'base.html' %}

{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block page_title %} Checkout {% endblock %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = "{{ publishable }}";
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}

<!--Page title for user navigation-->
<div class="text-center">
    <h2 class="my-3">Checkout</h2>
    <a href="{% url 'view_cart' %}" type="button" class="btn btn-warning text-center my-2">
        Back to Cart
        <i class="fas fa-shopping-basket"></i>
    </a>
</div>
<div class="center-align-book-sm">
    <table class="table table-borderless table-responsive-sm text-center" style="width: 90%;">
        <thead>
            <tr>
                <th scope="col" colspan="2">Image</th>
                <th scope="col" colspan="3">Name</th>
                <th scope="col" colspan="2">Author</th>
                <th scope="col" colspan="2">Genre</th>
                <th scope="col" colspan="2">Price</th>
                <th scope="col" colspan="2">Quantity</th>
            </tr>
        </thead>
        <tbody class="mb-2">
            {% for item in cart_items %}
                <tr class="table-row-style mb-5">
                    <td colspan="2">
                        <img src="{{ MEDIA_URL}}{{ item.book.image }}" width="70" height="100">
                    </td>
                    <th scope="row" colspan="3">{{ item.book.name }}</th>
                    <td colspan="2">{{ item.book.author }}</td>
                    <td colspan="2">{{ item.book.genre }}</td>
                    <td colspan="2">€{{ item.book.price }}</td>
                    <td colspan="2">{{ item.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!--Total price for all orders in the checkout-->
<h4 class="text-center">
    Total:
    <h5 class="text-center pt-3 mb-1 ">€{{ total }}</h5>
    <hr class="mb-5 hr-line-lightgray">
</h4>
<!--Payment section for users to purchase their order-->
<form action="{% url 'checkout' %}" method="POST" role="form" id="customer-payment-form" class="payment-form-style mb-5">
    <legend class="text-center py-2">Payment Details</legend>
    <!--Error messages will show-->
    <div id="card-errors">
        <div class="alert-success" id="stripe-error-message"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <!--Pages medium size and above, divided into two section for payment form-->
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <h6 class="py-3 text-center">
                        <strong>User Details:</strong>
                    </h6>
                    {{ order_form | as_bootstrap }}
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <h6 class="py-3 text-center">
                        <strong>Card Details:</strong>
                    </h6>
                    {{ payment_form | as_bootstrap }}
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
    <div class="text-center py-4">
        <input class=" btn btn-success" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>

{% endblock %}
