{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %} Sign In Page {% endblock %}

{% block page_heading %} User Sign In {% endblock %}

{% block content %}

<!--Form used for user to sign in-->
<form action="" method="POST" class="login-register-form-style py-3">
    <h3 class="text-center py-1">
        Sign In
        <i class="fas fa-sign-in-alt pl-1"></i>
    </h3>
    {% csrf_token %}
    {{ login_form | as_bootstrap }}
    <button type="submit" class="btn btn-success justify-content-center">Sign In</button>
</form>
<!--Link to reset password if user forgets theirs-->
<p class="text-center pt-2">
    <a href="{% url 'password_reset' %}">Forget password?</a>
</p>

{% endblock %}
