{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %} Sign In Page {% endblock %}

{% block page_heading %} User Sign In {% endblock %}

{% block content %}

<!--Form used for user to sign in-->
<form method="POST" class="login-register-form-style py-1 my-5">
    <h3 class="text-center py-1">
        Sign In
        <i class="fas fa-sign-in-alt pl-1"></i>
    </h3>
    {% csrf_token %}
    {{ login_form | as_bootstrap }}
    <div class="text-center pb-3">
        <button type="submit" class="btn btn-success justify-content-center">Sign In</button>
    </div>
</form>
<!--Link to reset password if user forgets theirs-->
<p class="text-center pt-2">
    <a href="{% url 'password_reset' %}" class="text-dark">Forget password?</a>
</p>
<p class="text-center pt-1 pb-2">
    <a href="{% url 'register' %}" class="text-dark">Don't have an account?  Register here!</a>
</p>

{% endblock %}
