{% extends 'base.html' %}

{% block page_title %} {{ user }}'s Profile {% endblock %}

{% block page_heading %} <i class="fas fa-user"></i> {{ user }}'s Profile {% endblock %}

{% block content %}

<!--Displays user details-->
 <div class="text-center">
    <h3 class="py-3">
        {{ user }}'s Profile
        <span>
            <i class="fas fa-user"></i>
        </span>
    </h3>
    <span>
        <h6 class="py-2"><strong>Username:</strong></h6>
            {{ profile.username }}
            <br>
        <h6 class="py-2"><strong>Email Address:</strong></h6>
            {{ profile.email }}
    </span>
    <div class="justify-content-center mt-3">
		<a href="{% url 'update_user_info' user.id %}" class="btn btn-warning">Edit Profile
			<i class="fas fa-user-edit"></i>
        </a>
	</div>
</div>

{% endblock %}
