{% extends 'base.html' %}

{% block page_title %} {{ user }}'s Profile {% endblock %}

{% block page_heading %} <i class="fas fa-user"></i> {{ user }}'s Profile {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="row text-center">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3 class="py-3">
                    User Profile
                    <span>
                        <i class="fas fa-user"></i>
                    </span>
                </h3>
                <span>
                    <h6 class="py-2"><strong>Username:</strong></h6>
                    {{ profile.username }}
                    <br>
                    <h6 class="py-2"><strong>Email Address:</strong></h6>
                    {{ profile.email }}
                </span>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3 class="py-3">
                    Purchases
                    <span>
                        <i class="fas fa-credit-card"></i>
                    </span>
                </h3>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ book.image }}" class="card-img" alt="{{ book.title }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.title }}</h5>
                                <p class="card-text">{{ book.author }}</p>
                                <p class="card-text">{{ book.genre }}</p>
                                <p class="card-text">{{ book.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
