{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %} Cart {% endblock %}

{% block content %}

<!--Page title for user navigation-->
<div class="text-center">
    <h2 class="my-3">Cart</h2>
</div>
<!--Section containing item(s) in the cart-->
<!--If cart is empty-->
{% if total == 0 %}
    <div class="text-center my-4" id="no-cart-items">
        <h5>Sorry there are no items in your cart!</h5>
        <p>Go visit the Books page and explore!</p>
    </div>
    <div class="text-center mb-3">
        <a href="{% url 'books' %}" type="button" class="btn btn-primary">Shop Books!</a>
    </div>
<!--If cart has items-->
{% else %}
    <div class="center-align-book-sm">
        <table class="table table-borderless table-responsive-sm table-responsive-md text-center" style="width: 90%;">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Image</th>
                    <th scope="col" colspan="3">Name</th>
                    <th scope="col" colspan="2">Author</th>
                    <th scope="col" colspan="2">Genre</th>
                    <th scope="col" colspan="2">Price</th>
                    <th scope="col" colspan="2">Quantity</th>
                    <th scope="col" colspan="3">Edit Quantity</th>
                </tr>
            </thead>
            <tbody class="mb-2 table-body-style">
                {% for item in cart_items %}
                    <tr class="table-row-style mb-5">
                        <td colspan="2">
                            <img src="{{ MEDIA_URL}}{{ item.book.image }}" width="70" height="100">
                        </td>
                        <th scope="row" colspan="3">{{ item.book.name }}</th>
                        <td colspan="2">{{ item.book.author }}</td>
                        <td colspan="2">{{ item.book.genre }}</td>
                        <td colspan="2">€{{ item.book.price }}</td>
                        <td colspan="2">{{ item.quantity }}</td>
                        <td colspan="3">
                            <form action="{% url 'edit_book_quantity' item.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group text-center">
                                        <input type="number" name="quantity" id="change-quantity" min="0" max="999" class="form-control center-align-book-sm" value="{{ item.quantity }}">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn-info">
                                        <i class="fas fa-edit" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </td>
                        <td colspan="2">
                            <a href="{% url 'remove_item' item.id %}" type="button" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--Total price for all orders in the cart-->
    <h4 class="text-center">
        Total:
        <h5 class="text-center">€{{ total }}</h5>
    </h4>
    <!--Checkout button-->
    <div class="text-center my-4">
        <a href="{% url 'books' %}" type="button" class="btn btn-primary text-center my-2 mr-1">
            Continue Shopping
            <i class="fas fa-book"></i>
        </a>
        <a href="{% url 'checkout' %}" class="btn btn-success ml-1" role="button">
            Checkout
            <span>
                <i class="far fa-check-circle"></i>
            </span>
        </a>
    </div>
{% endif %}

{% endblock %}
